.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
__pycache__/windowing.cpython-312.pyc
__pycache__/tokenizer.cpython-312.pyc
